<h1>Editing micro post</h1>

<%= render "form", micro_post: @micro_post %>

<br>

<div>
  <%= link_to "Show this micro post", @micro_post %> |
  <%= link_to "Back to micro posts", micro_posts_path %>
</div>
